.main {
    width: 100%;
    height: 100vh;
}

.cart-login {
    width: 100%;
    height: 0.8rem;
    background: #fff0ec;
    padding: 0 1rem;
    box-sizing: border-box;

    span {
        font-size: 14px;
        line-height: 0.8rem;
    }

    .btn {
        width: 1.28rem;
        height: 0.56rem;
        border: 1px solid #ff734c;
        background: #ff734c;
        border-radius: 1rem;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        line-height: 0.56rem;
        margin-left: 16px;
        margin-top: 5px;
    }
}

.emptycart {
    width: 100%;
    height: 5.24rem;
    padding: 0.84rem 0 1.04rem;
    box-sizing: border-box;
    position: relative;
    background: white;
    margin-bottom: 5px;

    .enimg {
        width: 2.54rem;
        height: 1.96rem;
        position: absolute;
        right: 0;
        left: 0;
        display: inline-block;
        margin: auto;
    }

  
         
        p {
            text-align: center;
        }
    
        .btn {
            width: 2.32rem;
            height: 0.56rem;
            border: 1px solid #ff734c;
            background: #ff734c;
            border-radius: 1rem;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            line-height: 0.56rem;
            position: absolute;
            right: 0;
            left: 0;
            margin: auto;
            margin-top: 15px;
        }
    
}

// .title {
//     width: 100%;
//     height: 1.02rem;
//     padding: 0 16px;
//     box-sizing: border-box;
//     line-height: 1.02rem;
// }

.guess-list {
    width: 100%;
     overflow: hidden;
  
 
    // display: flex;
 

    .list {
        height: 5.88rem;
        width: 3.54rem;
        display: inline-block;
        color: black;
      
        margin: 0 0.93333333% 0.57142857rem;
        border-radius: 0.28571429rem;
        overflow: hidden;
        background: white;
        img{
            width: 3.2rem;
            height: 3.84rem;
            display: inline-block;
            // width: 48.08743169%;
            margin: 0 0.93333333% 0.57142857rem;
            border-radius: 0.28571429rem;
            overflow: hidden;
            margin-left: 10px;
        }
        // float: left;
        .list-sp{
           font-size: 13px;
           overflow: hidden;
           text-overflow: ellipsis;
           white-space: nowrap;
           margin-bottom: 6px;
         
        }
        .price{
            color: #FF734C;
        }
      
    }
}


// // .bottom{
// //     width: 100%;
// //     height: 0.72rem;
// //     text-align: center;
// // }





.carBox{
    margin-top: 46.5px;
    
}
#tbody{
    margin-bottom: 100px;
}

#carDiv .tr {
    height: 100px;
    background-color: #f7f7f7;
    clear: both;
    border-radius: 5px;
    color:#5c3715;
    margin-top: 3px;
    
    li {
        display:table-cell;vertical-align:middle;
        float: left;
        height: 100%;
        text-align: center;
        font-size: 14px;
        line-height: 100px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
#carDiv .carFoot{
    height: 50px;
    background-color: #a89787;
    width: 100%;
    position: fixed;
    bottom:0.9rem;
    left:0;
    z-index: 9;
    p{
        float: left;
    }
}
  
