
.navbar-collapse{
    padding: 0 !important;
}



.navbar{
    height: 64px;
    margin-bottom: 0%;
}
.navbar-header{
    width: 170px;
    height: 64px;
    
}
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}
.container{
    position: relative;
}
.navbar-toggle {
    position: absolute;
    right: 0;
    top: 0;
   
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #ffffff;
}
.nav>li{
    height:36px;
    line-height: 36px;
    margin-right: 34px;
 
}
.nav>li:nth-child(1){
    margin-left: 120px;
    border-bottom: 2px solid #4279e0;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 22px 0 ;
}
.btn-default {
    width: 82px;
    height: 33px;
    border-radius: 13px;
    line-height: 20px;
    color: #ffffff;
    background-color: #0092ee;
    border-color: #ccc;
    margin-top: 4px;
}
.headimg{
    position: absolute;
    left: 0;
    top: 0;
    width: 170px;
    height: 50px;
    margin-top: 10px;
    margin-left: 23px;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
}
.collapse navbar-collapse{
    padding: 0;
}
@media (max-width:992px){
    .nav>li:nth-child(1){
        margin-left: 0;

    }
} 


/* .navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}
.dingji-top ul {
 
    height: 50px;
    display: flex;
}
.dingji-top ul li{
   
    height: 50px;
    margin-right: 22px;
   
   
    text-align: center;
    line-height: 50px;
}
.dingji-top ul li:nth-child(1){
    
}
.dingji-top ul li:nth-child(8){
    margin-right: 0;

} */
@media (min-width: 1200px){
    .container {
    
        width: 1300px;
       
        padding: 0 !important;
        }
        .po1{
            padding:0  !important;
        }
        .bottfoo{
            width: 100%;
            overflow: hidden;
            background-color: #182030;
            color: white;
            padding-top:54px ;
        }
        
        
        .footer-center-left{
          float: left;
        }
        .left-font-top{
            font-size: 18px;
        }
        .left-font{
            list-style: none;
            margin-top: 44px;
            margin-bottom: 50px;
          
        }
        .left-font li{
          line-height: 30px;
          
        }
        .left-icon{
            height: 58px;
            width: 136px;
        }
        .left-icon-box{
            float: left;
            margin-right: 6px;
        }
        @media (max-width:768px){
            .footer-center-right{
                width: 100%;
                margin: 0 auto;
                margin-top: 20px;
                /* width: ;
                height: 150px;
                position: absolute;
                left: 0;
                bottom: 20px; */
                
            }
                    .footer-center-right-right{
                        float: left;
                        /* width: 600px; */
                        margin-bottom: 15px !important;
                        text-align:left;
                    }
            .right-font li{
                float: left;
                margin-left: 34px;
            }
        }
        .footer-center-right{
           float: right;
        }
        .footer-center-right-right{
            text-align: right;
            margin-bottom: 48px;
            font-size: 18px;
        }
        .right-font{
            list-style: none;
        }
        .right-font li{
           line-height: 24px;
        } 
}



@media (max-width: 768px){
    .container {
    padding: 0 !important;
    /* width: 1300px; */
    /* margin: 0; */
    }
    
    .po1{
        padding:0  !important;
    }
    .bottfoo{
        width: 100%;
        overflow: hidden;
        background-color: #182030;
        color: white;
        padding-top:10px ;
        padding-left: 10px;
    }
    
    
    .footer-center-left{
      float: left;
    }
    .left-font-top{
        font-size: 18px;
    }
    .left-font{
        list-style: none;
        margin-top: 44px;
        margin-bottom: 50px;
      
    }
    .left-font li{
      line-height: 30px;
      
    }
    .left-icon{
        height: 58px;
        width: 136px;
    }
    .left-icon-box{
        float: left;
        margin-right: 6px;
    }

        .footer-center-right{
            width: 100%;
            margin: 0 auto;
            margin-top: 20px;
            /* width: ;
            height: 150px;
            position: absolute;
            left: 0;
            bottom: 20px; */
            
        }
                .footer-center-right-right{
                    float: left;
                    /* width: 600px; */
                    margin-bottom: 15px !important;
                    text-align:left;
                }
        .right-font li{
            float: left;
            margin-left: 34px;
        }
    
    .footer-center-right{
       float: right;
    }
    .footer-center-right-right{
        text-align: right;
        margin-bottom: 48px;
        font-size: 18px;
    }
    .right-font{
        list-style: none;
    }
    .right-font li{
       line-height: 24px;
    } 
    
    
}
