@media (min-width: 1200px) {
  .container {
    width: 1300px;

    padding: 0 !important;
  }
  .po1 {
    padding: 0 !important;
  }
  .banner {
    width: 1300px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 126px;
  }
  .banner-img {
    width: 1300px;
    height: 300px;
    margin: 0 auto;
  }
  .banner-img :hover{
      
  }
  .infobox {
    width: 1300px;
    height: 350px;
    margin: 0 auto 112px;
    padding: 0 56px;
    box-sizing: border-box;
  }

  .lianxi-font {
    width: 348px;
    height: 350px;
    border: 1px solid #f5f5f5;
    padding-top: 80px;
    box-sizing: border-box;
    float: left;
    margin-right: 70px;
    box-shadow: 0px 20px 62px  -19px   #d9d9d9 ;
    /* background: url("../images/liaxi.jpg"); */

    position: relative;
  }

  .yuan{
    width: 100px;
    height: 50px;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -49px;
    border: 1px dashed #f5f5f5;
    background-color: white;
    border-radius: 50% 50% 0 0/100% 100% 0 0;
    border-bottom: none;
  }
  .lianxi-font:nth-of-type(3) {
    margin-right: 0;
  }
  .font1 {
    text-align: center;
    color: #333333;
    font-size: 22px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 64px;
  }

  .font2 {
    width: 288px;
    margin: 0 auto;
    font-size: 18px;
    color: #484848;
    text-align: center;
  }

  .map {
    width: 1300px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 166px;
  }
  .map-img {
    width: 1300px;
    height: 500px;
    margin: 0 auto;
  }

  .lianxi-img {
    width: 70px;
    height: 70px;
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -34px;
  }

  .navbar {
    height: 64px !important;
    margin-bottom: 0;
    margin-top: 7px;
  }
  .navbar-default {
    background-color: white;
    border: 0;
    border-color: #e7e7e7;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover {
    /* color: #555; */
    background-color: #ffffff;
    margin-left: 150px;
  }
  .navbar-default .navbar-nav > li > a {
    line-height: 50px;
    margin-right: 23px;
    color: #777;
  }

  .navbar-default .navbar-nav > li > a:hover {
    border-bottom: 2px solid #0092ee;

    color: #0092ee !important;
  }
  .navbar-default .navbar-nav > li > a:nth-of-type(8) {
    /* line-height: 50px; */
    margin-right: 0;
    /* color: #777; */
  }
  .navbar-right {
    margin-right: -32px;
  }
  .btn-default {
    /* float: right; */
    background-color: #0092ee;
    color: white;
    border-radius: 6px;
  }
  .searchs {
    margin-top: 6px;
    margin-right: 14px;
  }
  .search-top{
    width: 110px;
    position: absolute;
    top: 14px;
    right: 175px;
    float: right;
    margin-bottom: 20px;
    margin-right: 60px;
    display: none;
  }
  .btn-default:hover {
    background-color: #0092ee;
    color: white;
    border-radius: 6px;
  }
  .navbar-nav > li > a {
    line-height: 50px;
    padding: 0;
    margin: 0;
  }
  .navbar-brand {
    float: left;
    height: 50px;
    padding: 0 !important;
    font-size: 18px;
    line-height: 20px;
  }
  .headimg {
    margin-left: 13px;
  }

  .nav > li {
    position: relative;
    display: block;
    margin-left: 20px;
  }
  .navbar-nav > li > a {
    line-height: 64px;
    padding: 0;
    /* margin: 0; */
    margin-left: 50px;
    color: black;
    z-index: 88;
  }
 
  .navbar {
    /* height: 64px; */
    height: 500px;
    margin-bottom: 0;
  }
  .navbar-default {
    background-color: white;
    border: 0;
    border-color: #e7e7e7;
  }

  .navbar-nav > li > a {
    line-height: 64px;
    padding: 0;
    margin: 0;
  }
  .navbar-nav > li > a {
    line-height: 20px;
  }
  .navbar-brand {
    float: left;
    height: 50px;
    padding: 0 !important;
    font-size: 18px;
    line-height: 20px;
  }

  .btn-default a:hover {
    color: white !important;
    text-decoration: none;
  }

 
.right-ce {
  width: 88px;
  z-index: 88;
  border-radius: 8px 0 0 8px;
  position: fixed;
  right: 0;
  top: 50%;
  background-color: #eff1f6;
  margin-top: -88px;
}
.right-ul li:nth-child(1) {
  width: 88px;
  height: 80px;
  background-color: #eff1f6;
  text-align: center;
  color: #0092ee;
  padding: 15px 0;
  /* background-color:#0092ee ; */
  box-sizing: border-box;
  background: url("../images/icon-righ1.png") no-repeat 31px 15px;
}
.right-ul li:hover:nth-child(1) {
  color: white;
  border-radius: 8px 0 0 8px;
  background: url("../images/icon1-active.png") no-repeat 31px 15px;
  background-color: #0092ee;
}

.right-ul li:nth-child(2) {
  width: 88px;
  height: 80px;
  background-color: #eff1f6;
  text-align: center;
  color: #0092ee;
  padding: 15px 0;
  /* background-color:#0092ee ; */
  box-sizing: border-box;
  background: url("../images/icon-righ2.png") no-repeat 31px 15px;
}
.right-ul li:hover:nth-child(2) {
  color: white;
  border-radius: 8px 0 0 8px;
  background: url("../images/icon2-active.png") no-repeat 31px 15px;
  background-color: #0092ee;
}

.right-ul li:nth-child(3) {
  width: 88px;
  height: 80px;
  background-color: #eff1f6;
  text-align: center;
  color: #0092ee;
  padding: 15px 0;
  /* background-color:#0092ee ; */
  box-sizing: border-box;
  background: url("../images/icon-righ3.png") no-repeat 31px 15px;
}
.right-ul li:hover:nth-child(3) {
  color: white;
  border-radius: 8px 0 0 8px;
  background: url("../images/icon3-active.png") no-repeat 31px 15px;
  background-color: #0092ee;
}
.right-ul li:nth-child(4) {
  width: 88px;
  height: 80px;
  background-color: #eff1f6;
  text-align: center;
  color: #0092ee;
  padding: 15px 0;
  /* background-color:#0092ee ; */
  box-sizing: border-box;
  background: url("../images/icon-righ4.png") no-repeat 31px 15px;
}
.right-ul li:hover:nth-child(4) {
  color: white;
  border-radius: 8px 0 0 8px;
  background: url("../images/icon4-active.png") no-repeat 31px 15px;
  background-color: #0092ee;
}
.right-ul > li > p {
  margin-top: 32px;
}

.bottfoo {
  width: 100%;
  overflow: hidden;
  background-color: #182030;
  color: #cccccc;
  padding-top: 54px;
  padding-bottom: 48px;
}

.footer-center-left {
  float: left;
}
.left-font-top {
  font-size: 18px;
  color: #fffefe;
}
.left-font {
  list-style: none;
  margin-top: 44px;
  margin-bottom: 50px;
}
.left-font li {
  line-height: 30px;
}
.left-icon {
  height: 58px;
  width: 160px;
  margin-bottom: 48px;
}
.left-icon-box {
  float: left;
  margin-right: 12px;
}
.left-icon-box p{
text-align: center;
line-height: 30px;
}
.footer-center-right {
  float: right;
}
.footer-center-right-right {
  text-align: right;
  margin-bottom: 48px;
  font-size: 18px;
  color: #fffefe;
}
.right-font {
  list-style: none;
}
.right-font li {
  line-height: 24px;
}



}

@media (max-width: 768px) {
  .container {
    width: 100% !important;
    padding: 0 !important;
  }
  .banner {
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
  }
  .banner-img {
    width: 100%;
    height: 140px;
    margin-bottom: 30px;
  }

  .dizhi {
    width: 100%;
    overflow: hidden;
  }

  .infobox {
    width: 100%;
    height: 173px;
    margin: 40px auto 0;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .lianxi-font {
    width: 100%;
    height: 173px;
    float: left;
    border: 1px solid #999999;
    padding-top: 30px;
    box-sizing: border-box;

    position: relative;
    margin: 55px auto 0;
  }
  .lianxi-img {
    width: 70px;
    height: 70px;
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -34px;
    z-index: 88;
  }

  .font1 {
    text-align: center;
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    /* margin-top: 15px; */
    margin-bottom: 30px;
  }

  .font2 {
    width: 288px;
    margin: 0 auto;
    font-size: 14px;
    color: #484848;
    text-align: center;
  }
  .map {
    width: 100%;
    height: 200px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-top: 30px;
  }
  .map-img {
    width: 100%;
    height: 200px;
    /* margin-bottom: 20px; */
  }

  .navbar-header {
    height: 64px;
  }

  .navbar-nav {
    /* height: 400px; */
    /* height: 500px; */
  }
  .navbar-default {
    background-color: #ffffff !important;
    border-color: #ffffff;
  }
  .headimg {
    -webkit-margin-bottom-collapse: -10px;
    margin-left: 20px;
  }
  .nav > li {
    margin-left: 15px;
  }
  .navbar-collapse {
    /* height: 64px; */
    background-color: #f5f5f5;
  }
  .navbar-default .navbar-nav > li > a:hover {
    border-bottom: 0;

    color: #0092ee !important;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover {
    /* color: #555; */
    background-color: #f5f5f5;
    margin-left: 0;
    margin-left: 0 !important;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover {
    /* color: #555; */
    background-color: #f5f5f5;

    margin-left: 20px;
  }











  /* 底部 */

  .right-ce {
    width: 88px;
    height: 300px;
    z-index: 88;
    position: fixed;
    right: 0;
    top: 50%;
    background-color: #eff1f6;
    margin-top: -88px;
  }
  .right-ul li:nth-child(1) {
    width: 88px;
    height: 80px;
    background-color: #eff1f6;
    text-align: center;
    color: #0092ee;
    padding: 15px 0;
    /* background-color:#0092ee ; */
    box-sizing: border-box;
    background: url("../images/icon-righ1.png") no-repeat 31px 15px;
  }
  .right-ul li:hover:nth-child(1) {
    color: white;
    border-radius: 8px 0 0 0;
    background: url("../images/icon1-active.png") no-repeat 31px 15px;
    background-color: #0092ee;
  }

  .right-ul li:nth-child(2) {
    width: 88px;
    height: 80px;
    background-color: #eff1f6;
    text-align: center;
    color: #0092ee;
    padding: 15px 0;
    /* background-color:#0092ee ; */
    box-sizing: border-box;
    background: url("../images/icon-righ2.png") no-repeat 31px 15px;
  }
  .right-ul li:hover:nth-child(2) {
    color: white;
    border-radius: 8px 0 0 0;
    background: url("../images/icon2-active.png") no-repeat 31px 15px;
    background-color: #0092ee;
  }

  .right-ul li:nth-child(3) {
    width: 88px;
    height: 80px;
    background-color: #eff1f6;
    text-align: center;
    color: #0092ee;
    padding: 15px 0;
    /* background-color:#0092ee ; */
    box-sizing: border-box;
    background: url("../images/icon-righ3.png") no-repeat 31px 15px;
  }
  .right-ul li:hover:nth-child(3) {
    color: white;
    border-radius: 8px 0 0 0;
    background: url("../images/icon3-active.png") no-repeat 31px 15px;
    background-color: #0092ee;
  }
  .right-ul li:nth-child(4) {
    width: 88px;
    height: 80px;
    background-color: #eff1f6;
    text-align: center;
    color: #0092ee;
    padding: 15px 0;
    /* background-color:#0092ee ; */
    box-sizing: border-box;
    background: url("../images/icon-righ4.png") no-repeat 31px 15px;
  }
  .right-ul li:hover:nth-child(4) {
    color: white;
    border-radius: 8px 0 0 0;
    background: url("../images/icon4-active.png") no-repeat 31px 15px;
    background-color: #0092ee;
  }
  .right-ul > li > p {
    margin-top: 32px;
  }

  .bottfoo {
    width: 100%;
    overflow: hidden;
    background-color: #182030;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 60px;
  }

  .footer-center-left {
    float: left;
  }
  .left-font-top {
    font-size: 18px;
  }
  .left-font {
    list-style: none;
    margin-top: 44px;
    margin-bottom: 50px;
  }
  .left-font li {
    line-height: 30px;
  }
  .left-icon {
    height: 58px;
    width: 136px;
  }
  .left-icon-box {
    float: left;
    margin-right: 6px;
  }

  .footer-center-right {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    /* width: ;
        height: 150px;
        position: absolute;
        left: 0;
        bottom: 20px; */
  }
  .footer-center-right-right {
    float: left;
    /* width: 600px; */
    margin-bottom: 15px !important;
    text-align: left;
  }
  .right-font li {
    float: left;
    margin-left: 34px;
  }

  .footer-center-right {
    float: right;
  }
  .footer-center-right-right {
    text-align: right;
    margin-bottom: 48px;
    font-size: 18px;
  }
  .right-font {
    list-style: none;
  }
  .right-font li {
    line-height: 24px;
  }
  .search-top{
    width: 110px;
    position: absolute;
    top: 14px;
    right: 175px;
    float: right;
    margin-bottom: 20px;
    margin-right: 60px;
    display: none;
  }
}
